/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
*/
body {
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
  background-attachment: fixed; }

/* HEADER */
nav {
  display: flex;
  text-align: center; }
  nav ul {
    background-color: rgba(211, 211, 211, 0.5);
    border-radius: 15px; }
    nav ul li {
      padding: 15px; }
      nav ul li a {
        font-family: "Roboto Slab", serif;
        font-size: 1.3rem;
        color: black; }
        nav ul li a:hover {
          color: black !important; }

#arriba {
  height: 300px;
  width: 300px; }

.sideNavButton {
  display: flex;
  justify-content: center; }
  .sideNavButton .logInButton,
  .sideNavButton .profileButton {
    padding: 5px;
    margin: 10px;
    border-radius: 5px; }
    .sideNavButton .logInButton:hover,
    .sideNavButton .profileButton:hover {
      background-color: black;
      color: white; }
    .sideNavButton .logInButton a,
    .sideNavButton .profileButton a {
      margin: 5px;
      font-family: "Roboto Slab", serif; }

/* MAIN */
h1,
h2 {
  font-family: "Roboto Slab", serif;
  text-align: center; }

/* FORM */
form .form-label {
  font-family: "Roboto", sans-serif;
  font-size: 1rem; }

.formButton {
  padding: 5px;
  margin: 10px;
  border-radius: 5px; }
  .formButton:hover {
    background-color: black;
    color: white; }
  .formButton a {
    font-family: "Roboto Slab", serif; }

/* FOOTER */
.footer .row {
  text-align: center; }
  .footer .row p {
    font-family: "Roboto", sans-serif; }
  .footer .row .goupButton {
    padding: 5px;
    margin: 10px;
    border-radius: 5px; }
    .footer .row .goupButton:hover {
      background-color: black;
      color: white; }
    .footer .row .goupButton a {
      font-family: "Roboto Slab", serif; }
